Copy,src/test/resources/file-copy-test-dir/src,target
Move,src/test/resources/file-move-test-dir,E:\\dev\\github\\scala-pg\\akka\\src\\test\\resources\\file-copy-test-dir\\src
# This is a commented out line

#Lala,src/test/resources/file-move-test-dir,E:\\dev\\github\\scala-pg\\akka\\src\\test\\resources\\file-copy-test-dir\\src